body{
    background-color: rgb(218, 214, 214);
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.stopWatch {
    color: #ffc107;
    font-size: 200px;
    font-weight: bold;
}

button {
    margin: 10px;
}

.miliSecond  {
    color: #ffc107;
    font-size: 50px;
    margin-bottom: 10px;
}